.btn-primary {
  padding: 8px 16px;
  justify-content: center;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(225, 67.80%, 53.73%, 1.00);
  border-radius: 76px;

  background-color: transparent;
  background-image: linear-gradient(to bottom, hsla(219.58762886597935, 100.00%, 61.96%, 1.00), hsla(234, 100.00%, 64.71%, 1.00));

  box-shadow: 0 1px 4px 0 var(--buttonShadowColor01-129768bf);

  transition: box-shadow 300ms ease,transform 300ms ease,background-color 300ms ease,color 300ms ease;

  color: var(--neutral100-07926372);
  line-height: 1.286em;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.btn-primary:hover {
  box-shadow: 0 2px 16px 1px hsla(244.87309644670052, 100.00%, 61.37%, 0.30);
  transform: scale3d(1.02, 1.02, 1.01);
  color: var(--neutral100-07926372);
  transform-style: preserve-3d;
}

.btn-primary.large {
  padding: 14px;
  font-size: 16px;
  line-height: 1.125em;
}

.btn-primary.disabled {
  border-color: var(--neutral400-e617119b);

  background-color: var(--neutral300-37cef123);
  background-image: none;

  box-shadow: none;

  color: var(--neutral600-06b40b4b);

  cursor: not-allowed;
}

.btn-primary.disabled:hover {
  transform: none;
}

.btn-primary.white {
  border-color: var(--neutral300-37cef123);
  background-color: var(--neutral100-07926372);
  background-image: none;
  box-shadow: inset 0 -3px 8px 0 hsla(244.87309644670052, 0.00%, 0.00%, 0.10);
  color: var(--neutral800-44c33ad4);
}

.btn-primary.white:hover {
  border-color: var(--neutral100-07926372);
  background-color: transparent;
  box-shadow: none;
  color: var(--neutral100-07926372);
}

.flex-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-column-4px {
  grid-column-gap: 4px;
}

.position-relative---z-index-1 {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 479px) {
  .flex-horizontal.vertical-mbp {
    flex-direction: column;
  }
}

.flex-horizontal.gap-column-12px {
  grid-column-gap: 12px;
}

.gap-column-12px {
  grid-column-gap: 12px;
}

.gap-column-16px {
  grid-column-gap: 16px;
}

.flex-horizontal.children-wrap {
  flex-wrap: wrap;
}

.flex-horizontal.children-wrap.gap-16px---8px {
  grid-column-gap: 16px;
  grid-row-gap: 8px;
}

.flex-horizontal.align-start {
  align-items: flex-start;
}

@media screen and (max-width: 479px) {
  .flex-horizontal.align-start.gap-column-16px {
    grid-column-gap: 12px;
  }
}

.flex-horizontal.justify-start {
  justify-content: flex-start;
}

.flex-horizontal.justify-end {
  justify-content: flex-end;
}

.link-icon {
  max-width: 10px;
}