.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-vertical.align-center {
  align-items: center;
}

.gap-row-8px {
  grid-row-gap: 8px;
}

.tabs-menu {
  display: flex;
  margin-bottom: 20px;
  padding: 6px;
  align-items: center;
  grid-column-gap: 2px;

  border-radius: 72px;

  background-color: var(--neutral200-a8c051b2);
}

@media screen and (max-width: 479px) {
  .tabs-menu {
    width: 100%;
    flex-direction: column;
    grid-row-gap: 2px;
    border-radius: 8px;
  }
}

.tabs-menu.links-single {
  padding: 0px;
  justify-content: center;
  align-items: flex-end;
  grid-column-gap: 0px;

  border-radius: 0px;

  background-color: transparent;
}

@media screen and (max-width: 479px) {
  .tabs-menu.links-single {
    grid-row-gap: 20px;
  }
}

.tab-menu-badge-link {
  padding: 4px 14px;

  border: 1px solid transparent;
  border-radius: 32px;

  background-color: transparent;

  transition: box-shadow 300ms ease,background-color 300ms ease,border-color 300ms ease,color 300ms ease;

  color: var(--neutral600-06b40b4b);
  font-size: 14px;
  line-height: 1.286em;
  font-weight: 500;
  text-align: center;
}

.tab-menu-badge-link:hover {
  border-color: var(--neutral200-a8c051b2);
  background-color: var(--neutral100-07926372);
  box-shadow: 0 0 3px 0 var(--generalShadow01-46332da7);
  color: var(--neutral600-06b40b4b);
}

.tab-menu-badge-link:global(.w--current) {
  border-color: var(--neutral300-37cef123);
  background-color: var(--neutral100-07926372);
  box-shadow: 0 0 3px 0 var(--generalShadow01-46332da7);
  color: var(--neutral700-199ad8fd);
}

@media screen and (max-width: 479px) {
  .tab-menu-badge-link {
    width: 100%;
  }
}

.overflow-visible {
  overflow: visible;
}